*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
#title{
    text-align: center;
    text-decoration: underline;
}
#countdown{
    text-align: center;
    font-size: 60px;
}
#message{
    text-align: center;
    font-size: 30px;
}
#gomb{
    text-align: center;
    font-size: 30px;
    margin: auto;
}